{% extends "::base.html.twig" %}
{% block title %}{% endblock %}
{% block stylesheets %}{{ parent() }}{% endblock %}
{% block body %}
    <a class="btn btn-success" href="{{ path('mission_mission_page_create') }}">Page Create</a>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Product Name</th>
            <th scope="col">Vendor Name</th>
{#            <th scope="col">vendor Email</th>#}
            <th scope="col">Service Date</th>
            {% if app.user and app.user.superAdmin %}
                <th scope="col">Client</th>
            {% endif %}
            <th scope="col">Update</th>
        </tr>
        </thead>
        <tbody>
        {% set i = 1 %}
        {% for each in missions %}
{#            {% for each in result %}#}
                <tr>
                    <td>{{ i }}</td>
                    <td><a href="">{{ each.productName }}</td>
                    <td>{{ each.vendorName }}</td>
{#                      <td>{{ each.vendorEmail }}</td>#}
                    <td><a href="">{{ each.serviceDate|date('Y-m-d H:i:s') }}</a></td>
                    {% if app.user and app.user.superAdmin %}
                        <td>{{ app.user.username }}</td>
                    {% endif %}
                    <td><a href="{{ path('mission_mission_page_update', {'missionId':each.id}) }}">Edit</a></td>
                </tr>
                {% set i = i+1 %}
{#            {% endfor %}#}
        {% endfor %}
        </tbody>
    </table>
{% endblock %}