{% extends "::base.html.twig" %}
{% block title %}{% endblock %}
{% block stylesheets %}{{ parent() }}{% endblock %}
{% block body %}
    {% if app.user and app.user.superAdmin %}
        Username: {{ app.user.username }}
    {% endif %}
    {% for each in missions %}
        Service Date: <a href="">{{ each.serviceDate|date('Y-m-d H:i:s') }}</a>
        Product Name: <a href="">{{ each.productName }}</a>
        vendor Name: {{ each.vendorName }}
    {% endfilter %}

{% endblock %}